h1 Resistencias
#gauge1.gauge(data-title='Panela 1', data-value='30', data-counter='true')
#gauge2.gauge(data-title='Panela 2', data-value='50', data-counter='true')    
#gauge3.gauge(data-title='Panela 3', data-value='75', data-counter='true')
