h1 Temperaturas
canvas#myChart( width="400", height="400")
#option-1.option
  .temperature
    input.temperature__target(type='number', name='name', min='0', max='110', value='')
  .thermometer
    .results
      .on
        span.count 20%
  h3.option-label Panela 1
#option-2.option
.temperature
  input.temperature__target(type='number', name='name', min='0', max='110', value='')
  .thermometer
    .results
      .on
        span.count 20%
  h3.option-label Panela 2
#option-3.option
.temperature
  input.temperature__target(type='number', name='name', min='0', max='110', value='')
  .thermometer
    .results
      .on
        span.count 20%
  h3.option-label Panela 3
